#Title{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
ul, li {
    display:inline;
    text-align: center;
}
.intro{
    text-align: center;
}
p{
    font-family: 'Lora', serif;
    font-size:15px;
    text-align: left;
}
.intro{
    text-align: left;
    text-indent:2em;
}
p.exl{
    padding-left: 10%;
}
.flex-school{
    display: table;
    margin: 0 auto;
}
.school-logos{
    min-width: 696px;
	list-style: none;
    padding-top: 20px;
}
li{
    display: inline;
    padding-right: 20px;
}
#sanky_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firm-flex{
    display: flex;
    align-content: space-between;
}
.firm-logo{
    flex: 33.33%;
    padding:20px;
}

#firm-barchart{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 80hw;
}
.center{
    width:210px;
    height:100px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}


footer{
    text-align: right;
    padding: 3px;
}
.listSchool{
    display: list-item; 
    list-style: disc outside none;
    margin-left: 5em;
    text-align:left;
}
